<div>
<%= render 'form' %>


<div class="container">
  
  <ul class="timeline">
    <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
          
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Individual Dream Timeline</h4>
            </div>
          </div>
     </li>         
     <li>
       <%= render 'shared/feed' %>      
     </li>
  </ul>
 
</div>

</div>


