<div>
<%= render 'form' %>


<div class="container">
  
  <ul class="timeline">
    <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-send"></i></div>
          
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Your Individual Dream Timeline</h4>
            </div>
          </div>
     </li>         
     <li>
       <%= render 'shared/feed' %>      
     </li>
  </ul>
 
</div>


</div>
<!--use the javascript to control the toggle, ensure show the content of toggle when clicking-->
<script type="text/javascript">
$(document).ready(function() {
    $(".toggle-trigger").click(function() {
        $(this).parent().nextAll('.toggle-wrap').first().toggle();
    });
});
</script>


