<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      What will you be like after five years? The website's name is called FiveYears, which helps users think what they really want to be or waht to do in the following years.
    </p>

    <p>
      The website is a project to provide a platform for  people to share their dreams or goals and get acquaintance with others who have something in common.
      
    </p>