<% provide(:title, 'Help') %>
        <h1>Help</h1>
        <p>
          This website is developed based on 
          <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
        </p>
     